<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:theme="@style/Theme.PokemonShowcase">
        <activity
            android:name="com.whoisthat.pokemon.ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PokemonShowcase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="pokemon_id"
                    android:scheme="pokemon" />
            </intent-filter>
        </activity>
    </application>

</manifest>